.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; /* makes it mobile friendly */
    margin-top: 2rem;
}

.social-card {
    background-color: #1e1e1e;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.social-card:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
    transform: translateY(-4px);
}

.social-icon {
    color: #b8893d;
    font-size: 3rem;
    transition: all 0.3s ease;
}

.social-card:hover .social-icon {
    color: #e0a64f;
    transform: scale(1.2);
}

.large-mb {
    margin-bottom: 50px;
}


.images-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}
  
.image-item {
    width: 30%;
    max-width: 250px;
    border-radius: 8px;
    object-fit: cover;
}
  